@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 215 28% 17%; /* #1F2937 */

    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;

    --primary: 243 75% 59%; /* #4F46E5 */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 98%; /* #F9FAFB */
    --secondary-foreground: 215 28% 17%;

    --muted: 210 40% 98%;
    --muted-foreground: 215 14% 47%; /* #6B7280 */

    --accent: 210 40% 98%;
    --accent-foreground: 215 28% 17%;

    --destructive: 0 84% 60%; /* #EF4444 */
    --destructive-foreground: 0 0% 100%;

    --border: 210 14% 89%; /* #E5E7EB */
    --input: 210 14% 89%;
    --ring: 243 75% 59%;

    --radius: 0.5rem; /* 8px */

    --success: 160 84% 39%; /* #10B981 */
    --warning: 38 92% 50%; /* #F59E0B */
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;

    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;

    --primary: 243 75% 59%;
    --primary-foreground: 215 28% 17%;

    --secondary: 215 21% 11%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 21% 11%;
    --muted-foreground: 215 14% 47%;

    --accent: 215 21% 11%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 21% 11%;
    --input: 215 21% 11%;
    --ring: 243 75% 59%;
  }

  body {
    @apply bg-secondary text-foreground;
    font-family: 'Inter', sans-serif;
    
  }
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out forwards;
  }
}
